# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
*.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Mac
.DS_Store

# R projects 
*.Rproj

# RStudio Connect folder
rsconnect/

### R.Bookdown Stack ###
# R package: bookdown caching files
/*_files/

# Exclude .Rmd output
*.html
**/figure-html/

# R data
*.rds
*.RDS
*.Rds
*.rda
*.RDA
*.Rda

# R packages
*.tar

# Quarto
/.quarto/
/_site/
.quarto/
_site/
